<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vtest.it.tskplatform.dao.vtptmt.VtptmtDao">
    <select id="getInformation" parameterType="string" resultType="string">
        select password from VTPTMT.system_user where user_name = #{username};
    </select>
</mapper>